*{list-style: none;}
.hNavtop{
    padding:10px 15px;
    width:100%;
    overflow: hidden;
    height: 165px;
    border-bottom:8px solid rgba(120, 120, 120, 0.3);
}
.hNavtop .hNavtop_right .hSign{
    width: 98px;
    height: 30px;
    border:1px solid blue;
    text-align: center;
    line-height: 30px;
    margin-top:5px;
    color: blue;
}
.hordera{
    width: 100%;
    border-bottom: 8px solid rgba(120, 120, 120, 0.3);
}
.hordera .hordera_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding:0 10px;
    border-bottom: 1px solid #ccc;
}
.hMygoods{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 8px solid rgba(120, 120, 120, 0.3);
}
.hMygoods .hMybox{
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    width: 33%;
    height: 117px;
}
.hMystree{
    width: 100%;
}
.hMystree .hStreebox{
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ccc;
}